<div id="<%= dom_id job %>">
  <p>
    <strong>Date applied:</strong>
    <%= job.date_applied %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= job.job_title %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= job.company_name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job.status %>
  </p>

</div>
